.metadata/.plugins/org.eclipse.core.resources/.history/e0/10cce2237573001210b48313e82dbf2b
.metadata/.plugins/org.eclipse.core.resources/.projects/REST/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/6.tree
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
Chat/Chat/Chat.xcodeproj/project.pbxproj
Chat/Chat/Chat.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Chat/Chat/Chat.xcodeproj/project.xcworkspace/xcuserdata/DimaTWL.xcuserdatad/UserInterfaceState.xcuserstate
Chat/Chat/Chat.xcodeproj/xcuserdata/DimaTWL.xcuserdatad/xcschemes/Chat.xcscheme
Chat/Chat/Chat.xcodeproj/xcuserdata/DimaTWL.xcuserdatad/xcschemes/xcschememanagement.plist
Chat/Chat/chat_client
Chat/Chat/chat_client.o
Chat/Chat/chat_server
Chat/Chat/chat_server.o
NetworksSockets/MyTCPClient (dimatwl-VirtualBox's conflicted copy 2013-02-09).pyc
.metadata/.plugins/org.eclipse.core.resources/.history/12/404b1defa07400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/1e/a057953c427400121067c984a5a0d590
.metadata/.plugins/org.eclipse.core.resources/.history/21/00c87905a17400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/36/5044fbeea07400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/6a/10eabde9417400121067c984a5a0d590
.metadata/.plugins/org.eclipse.core.resources/.history/6d/40ae27c4407400121067c984a5a0d590
.metadata/.plugins/org.eclipse.core.resources/.history/79/704f1befa07400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/89/d0938fd2407400121067c984a5a0d590
.metadata/.plugins/org.eclipse.core.resources/.history/ad/707c1e97417400121067c984a5a0d590
.metadata/.plugins/org.eclipse.core.resources/.history/c8/00090eefa07400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.projects/REST/.indexes/e8/a8/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/REST/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/REST/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
Chat/Chat/Chat.xcodeproj/xcuserdata/DimaTWL.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
Chat/Chat/Chat.xcodeproj/xcuserdata/DimaTWL.xcuserdatad/xcschemes/Server.xcscheme
REST/.metadata/.lock
REST/.metadata/.log
REST/.metadata/.mylyn/repositories.xml.zip
REST/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
REST/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
REST/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
REST/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
REST/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
REST/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
REST/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
REST/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
REST/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
REST/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
REST/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
REST/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
REST/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
REST/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
REST/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
REST/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
REST/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
REST/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
REST/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
REST/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
REST/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
REST/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
REST/.metadata/version.ini
RootRequestHandler.class
.metadata/.log
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/1a/1054d6e4aa7400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/1e/20104e80ad7400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/28/90e6caa8ad7400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/3b/803beb62a77400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/3f/0016c7a8ad7400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/49/70c1e362a77400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/4f/30eda28aa77400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/5d/40728cf4af7400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/5e/b0209f90b07400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/6d/b04a72eaa97400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/70/d0d005caa97400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/74/d0000cc8a27400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/84/300f96f4af7400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/87/500c4bc9a97400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/8a/a0eb8af4af7400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/8c/c0455127b07400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/ac/2077346cb07400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/c/801edce8a27400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/c/903749c9a97400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/c0/b03fe962a77400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/c4/407b2ceea37400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/c9/c0fe5fcaa97400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/ec/d011c9a8ad7400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/f1/009fae2caa7400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/f4/90ac1891a77400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/f7/60582aeea37400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.history/f7/b0038f61a37400121369c54864ffb181
.metadata/.plugins/org.eclipse.core.resources/.projects/REST/.indexes/e4/43/99/ab/5/d4/19/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/REST/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
REST/src/ru/spbau/shestavin/networks/rest/request_handlers/RootRequestHandler.java
Chat/chat_client/ChatClient.o
Chat/chat_client/build/ChatClient
Chat/chat_client/chat_client.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Chat/chat_client/chat_client.xcodeproj/project.xcworkspace/xcuserdata/DimaTWL.xcuserdatad/UserInterfaceState.xcuserstate
Chat/chat_client/chat_client.xcodeproj/xcuserdata/DimaTWL.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
Chat/chat_client/chat_client.xcodeproj/xcuserdata/DimaTWL.xcuserdatad/xcschemes/chat_client.xcscheme
Chat/chat_client/chat_client.xcodeproj/xcuserdata/DimaTWL.xcuserdatad/xcschemes/xcschememanagement.plist
Chat/chat_server/ChatServer.o
Chat/chat_server/build/ChatServer
Chat/chat_server/chat_server.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Chat/chat_server/chat_server.xcodeproj/project.xcworkspace/xcuserdata/DimaTWL.xcuserdatad/UserInterfaceState.xcuserstate
Chat/chat_server/chat_server.xcodeproj/xcuserdata/DimaTWL.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
Chat/chat_server/chat_server.xcodeproj/xcuserdata/DimaTWL.xcuserdatad/xcschemes/chat_server.xcscheme
Chat/chat_server/chat_server.xcodeproj/xcuserdata/DimaTWL.xcuserdatad/xcschemes/server.xcscheme
Chat/chat_server/chat_server.xcodeproj/xcuserdata/DimaTWL.xcuserdatad/xcschemes/xcschememanagement.plist
